@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 11vh;
  font-size: 14px;
  font-weight: 100;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: black;
  padding: 25px 16px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  /* opacity: 0.1; */
  color: white;
}

.logo {
  width: 150px;
  height: 80px;
}

.other {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15rem;
  justify-content: space-evenly;
  padding: 25px 16px;
}

nav:hover {
  background-color: #ff0d3d;
}

.icon {
  display: flex;
  gap: 25px;
}

/* for dropdown content of protein */
.dropdown {
  overflow: hidden;
}

.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  padding: 25px 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bestsellerproducts {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  gap: 3rem;
  position: relative;
  top: 1rem;
  overflow-x: hidden;
}

.container-bsp {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 9rem;
  overflow-x: hidden;
  text-decoration: none;
  overflow-x: hidden;
}

#p1 {
  padding-left: 70px;
  padding-top: 0.5rem;
}

.container-bsp a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.bsp {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow-x: hidden;
}

.divider {
  margin-top: 5rem;
  z-index: 8520;
  height: 6vh;
  width: 90%;
  position: relative;
  left: 4.5%;
  display: flex;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.056);
}

.sort {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
  left: 60%;
}
.sort p {
  font-weight: 600;
  font-size: 15px;
  padding-right: 16px;
  border-right: 1px solid grey;
}
.sort span {
  font-weight: 500;
}

.dropdown1 {
  overflow: hidden;
}

.dropdown1:hover {
  color: white;
}

.dropdown1 .dropbtn1 {
  font-size: 14px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  padding: 2px 0px;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  gap: 0rem;
}

.dropdown-content1 a {
  float: left;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
  display: flex;
  flex-direction: column;
}

.allbsp {
  padding: 50px;
}

.pgrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr)); /* Responsive grid with minimum width of 200px */
  gap: 10px; /* Gap between grid items */
  padding: 0px 20px 20px 20px;
  overflow-x: hidden;
}

.grid {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
}
.grid img {
  max-width: 100%;
  height: auto;
}
.grid #img1 {
  margin-bottom: -6px;
}
.grid #img2 {
  margin-bottom: -6px;
}
.grid #img3 {
  margin-bottom: -6px;
}
.grid #img4 {
  margin-bottom: -6px;
}
.grid #img5 {
  margin-bottom: -6px;
}
.grid #img9 {
  margin-bottom: -6px;
}

/* Style for product title */
.product-title {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: bold;
  align-items: center;
}

/* Style for product price */
.product-price {
  color: #007bff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars-rating {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

footer {
  height: 25rem;
  color: white;
  background-color: black;
  display: flex;
  list-style: none;
  gap: 10rem;
  padding: 50px 60px;
}
footer h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 20px;
}
footer li {
  margin-left: 20px;
  margin-top: 0.5rem;
  font-size: 13px;
}
footer .news input {
  min-width: 300px;
}/*# sourceMappingURL=beststyle.css.map */