@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
    
    
}
.heroscetion{
    height: 90vh;
}
.track{
    h2{
        font-weight: 800;
    }
    p{
        font-weight: 800;
    }
    gap:5px;
    width:40%;
    height: 50%;
    background-color: #fff;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 7px;
    padding: 3rem 2rem;
    box-shadow: 0px 10px 25px -10px  #000000;
    clear: both;
    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 25px;
        
        background-color: red;
        margin-top:10px;
        text-align: center;
        border-radius: 5px;
    }
    a:hover{
        background-color: red;
    }
}
@import"navbarstyle";//nav bar //
    @import"footer";//footer